* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --black: #000;
  --gray: #888;
  --white: #fff;
}

*,
input,
button {
  font-family: 'Inter', sans-serif;
}

html {
  background: var(--black);
  color: var(--gray);
  font-size: 62.5%;
}

#wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  max-width: 104.8rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 2.4rem;
}

header .left {
  height: 2.6rem;
}

header .left img {
  height: 100%;
}

header .middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .middle ul li a {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  color: var(--gray);
  text-decoration: none;
}

header .middle ul li a + a {
  margin-left: 1.2rem;
}

header .right {
  margin-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right .conf {
  height: 3.2rem;
  position: relative;
  cursor: pointer;
}

header .right .conf span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: var(--white);
  font-size: 1.4rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header .right .avatar {
  margin-left: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}

section {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.32rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

@-webkit-keyframes colorCycle {
  0%, 55% {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  11%, 33% {
    -webkit-filter: none;
            filter: none;
  }
}

@keyframes colorCycle {
  0%, 55% {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  11%, 33% {
    -webkit-filter: none;
            filter: none;
  }
}

main {
  padding: 5.6rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 12.8rem;
  line-height: 12.8rem;
  letter-spacing: -1.24rem;
  color: var(--white);
}

main h1 span {
  padding: 0 0.67rem;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: colorCycle 9s infinite ease-in-out;
          animation: colorCycle 9s infinite ease-in-out;
}

main h1 span:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#007cf0), to(#00dfd8));
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}

main h1 span:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, right top, from(#7928ca), to(#ff0008));
  background-image: linear-gradient(90deg, #7928ca, #ff0008);
  -webkit-animation-delay: 3.33s;
          animation-delay: 3.33s;
}

main h1 span:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff4d4d), to(#f9cb28));
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  -webkit-animation-delay: 6.66s;
          animation-delay: 6.66s;
}

main .buttons {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .buttons > button {
  background: var(--white);
  color: var(--black);
  border-radius: 0.4rem;
  margin: 1.2rem;
  padding: 1.5rem 4.5rem;
  border: 0.1rem solid var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

main .buttons > button.outlined {
  background: transparent;
  color: var(--gray);
  border: 0.1rem solid var(--gray);
}

main .buttons > button:hover {
  background: transparent;
  color: var(--white);
  border: 0.1rem solid var(--white);
}

main h2 {
  margin: 6.4rem 0;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.04rem;
  text-align: center;
  line-height: 3.2rem;
}

@media screen and (max-width: 944px) {
  main {
    max-width: 80.8rem;
  }
}

@media screen and (min-width: 944px) {
  main {
    max-width: 104.8rem;
  }
}

section {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.32rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

section {
  max-width: 104.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .sectionLabelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .sectionLabelContainer .sectionLabelText {
  font-weight: 100;
  font-size: 1.2rem;
}

section .sectionLabelContainer .sectionLabelLine {
  margin-top: 60px;
  height: 100px;
  width: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#696969));
  background-image: linear-gradient(#000000, #696969);
}

section .sectionLabelContainer .sectionLabelLine.blue {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#019ae9));
  background-image: linear-gradient(#000000, #019ae9);
}

section .sectionLabelContainer .sectionLabelLine.purple {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#ff0080));
  background-image: linear-gradient(#000000, #ff0080);
}

section .sectionLabelContainer .sectionLabelLine.orange {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#FF4D4D));
  background-image: linear-gradient(#000000, #FF4D4D);
}

section .sectionLabelContainer .sectionLabelNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 0 0 0 3px;
  background: -webkit-gradient(linear, left top, right top, from(#242424), to(#868686));
  background: linear-gradient(90deg, #242424, #868686);
}

section .sectionLabelContainer .sectionLabelNumber.blue {
  background: -webkit-gradient(linear, left top, right top, from(#007CF0), to(#00DFD8));
  background: linear-gradient(90deg, #007CF0, #00DFD8);
}

section .sectionLabelContainer .sectionLabelNumber.purple {
  background: -webkit-gradient(linear, left top, right top, from(#7928ca), to(#ff0080));
  background: linear-gradient(90deg, #7928ca, #ff0080);
}

section .sectionLabelContainer .sectionLabelNumber.orange {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF4D4D), to(#F9CB28));
  background-image: linear-gradient(90deg, #FF4D4D, #F9CB28);
}

section .sectionLabelContainer .sectionLabelTitle {
  margin-top: 35px;
  font-size: 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.09rem;
  font-family: 'Noto Sans', sans-serif;
  text-transform: initial;
  background-image: -webkit-gradient(linear, left top, right top, from(#242424), to(#868686));
  background-image: linear-gradient(90deg, #242424, #868686);
}

section .sectionLabelContainer .sectionLabelTitle.blue {
  background-image: -webkit-gradient(linear, left top, right top, from(#0675dd), to(#26eee7));
  background-image: linear-gradient(90deg, #0675dd, #26eee7);
}

section .sectionLabelContainer .sectionLabelTitle.purple {
  background-image: -webkit-gradient(linear, left top, right top, from(#7928ca), to(#ff0080));
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
}

section .sectionLabelContainer .sectionLabelTitle.orange {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF4D4D), to(#F9CB28));
  background-image: linear-gradient(90deg, #FF4D4D, #F9CB28);
}

section .sectionLabelContainer .sectionLabelBigTitle {
  margin-top: 24px;
  font-size: 5rem;
  text-transform: initial;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -0.04rem;
}

section .sectionDescriptionContainer {
  margin: 80px 28px 90px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .sectionDescriptionContainer p {
  text-align: left;
  line-height: 2.5rem;
  font-size: 1.5rem;
  text-transform: initial;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.11rem;
  color: var(--gray);
}

@media screen and (max-width: 944px) {
  section .sectionDescriptionContainer p {
    max-width: 400px;
  }
}

@media screen and (max-width: 944px) {
  section .sectionDescriptionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px 5px 90px 5px;
  }
}

@media screen and (min-width: 944px) {
  section .sectionDescriptionContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section .sectionFeatured {
  width: 1100px;
  margin-bottom: 10px;
  gap: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 944px) {
  section .sectionFeatured .sectionDevelopImage {
    height: 78vw;
    max-height: 540px;
  }
}

@media screen and (min-width: 944px) {
  section .sectionFeatured .sectionDevelopImage {
    height: 540px;
    width: 580px;
  }
}

section .sectionFeatured .sectionFeaturedTopicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}

section .sectionFeatured .sectionFeaturedTopicContainer .sectionFeaturedTopic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-transform: initial;
  letter-spacing: .1rem;
  font-family: 'Noto Sans', sans-serif;
}

section .sectionFeatured .sectionFeaturedTopicContainer .sectionFeaturedTopic .sectionFeaturedTopicTitle {
  font-size: 2rem;
  letter-spacing: .1rem;
}

section .sectionFeatured .sectionFeaturedTopicContainer .sectionFeaturedTopic .sectionFeaturedTopicDescription {
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-weight: 100;
}

@media screen and (max-width: 944px) {
  section .sectionFeatured .sectionFeaturedTopicContainer {
    max-width: 400px;
    text-align: center;
  }
}

@media screen and (min-width: 944px) {
  section .sectionFeatured .sectionFeaturedTopicContainer {
    text-align: left;
  }
}

@media screen and (max-width: 944px) {
  section .sectionFeatured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 944px) {
  section .sectionFeatured {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section .sectionPreviewListIconsTools {
  margin-top: 38px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */