* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --black: #000;
  --gray: #888;
  --white: #fff;
}

*,
input,
button {
  font-family: 'Inter', sans-serif;
}

html {
  background: var(--black);
  color: var(--gray);
  font-size: 62.5%;
}

#wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  max-width: 104.8rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 2.4rem;
}

header .left {
  height: 2.6rem;
}

header .left img {
  height: 100%;
}

@media screen and (max-width: 560px) {
  header .left {
    height: 2.1rem;
  }
}

header .middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-left: 10px;
}

header .middle ul li a {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  color: var(--gray);
  text-decoration: none;
}

header .middle ul li a + a {
  margin-left: 0.8rem;
}

@media screen and (max-width: 944px) {
  header .middle ul li a {
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
  }
}

header .right {
  margin-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right .conf {
  height: 3.2rem;
  position: relative;
  cursor: pointer;
}

header .right .conf span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: var(--white);
  font-size: 1.4rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 560px) {
  header .right {
    margin-left: 0;
  }
}

@media screen and (max-width: 944px) {
  header {
    max-width: 100vw;
    width: 100%;
  }
}

footer {
  width: 100%;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a0a0a;
}

.footerVerticalLine {
  height: 1px;
  background-color: #ccc;
  border: none;
}

section {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.32rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.vercelLogoFooter {
  height: 22px;
}

.footerTopics {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  width: 80%;
}

.footerTopics ul {
  list-style: none;
  font-size: 1.5rem;
}

.footerTopics ul li {
  font-size: 1.4rem;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.footerTopics ul :hover {
  color: #6b6b6b;
}

.footerMoreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footerMoreInfo img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 30px;
}

.footerMoreInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerMoreInfo div img {
  cursor: pointer;
  border: #161616 solid 1px;
  border-radius: 5px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.footerMoreInfo div .gitHubOrTwiter:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

.footerMoreInfo div .changeThemeButtom:hover {
  border: #ccc solid 1px;
  border-radius: 5px;
}

@-webkit-keyframes colorCycle {
  0%, 55% {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  11%, 33% {
    -webkit-filter: none;
            filter: none;
  }
}

@keyframes colorCycle {
  0%, 55% {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  11%, 33% {
    -webkit-filter: none;
            filter: none;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 12.8rem;
  line-height: 12.8rem;
  letter-spacing: -1.24rem;
  color: var(--white);
}

main h1 span {
  padding: 0 0.67rem;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: colorCycle 9s infinite ease-in-out;
          animation: colorCycle 9s infinite ease-in-out;
}

main h1 span:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#007cf0), to(#00dfd8));
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}

main h1 span:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, right top, from(#7928ca), to(#ff0008));
  background-image: linear-gradient(90deg, #7928ca, #ff0008);
  -webkit-animation-delay: 3.33s;
          animation-delay: 3.33s;
}

main h1 span:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff4d4d), to(#f9cb28));
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  -webkit-animation-delay: 6.66s;
          animation-delay: 6.66s;
}

main .buttons {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .buttons > button {
  background: var(--white);
  color: var(--black);
  border-radius: 0.4rem;
  margin: 1.2rem;
  padding: 1.5rem 4.5rem;
  border: 0.1rem solid var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

main .buttons > button.outlined {
  background: transparent;
  color: var(--gray);
  border: 0.1rem solid var(--gray);
}

main .buttons > button:hover {
  background: transparent;
  color: var(--white);
  border: 0.1rem solid var(--white);
}

main h2 {
  margin: 6.4rem 0;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.04rem;
  text-align: center;
  line-height: 3.2rem;
}

@media screen and (max-width: 944px) {
  main {
    max-width: 80.8rem;
  }
}

@media screen and (min-width: 944px) {
  main {
    max-width: 104.8rem;
  }
}

footer {
  width: 100%;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a0a0a;
}

.footerVerticalLine {
  height: 1px;
  background-color: #ccc;
  border: none;
}

section {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.32rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.vercelLogoFooter {
  height: 22px;
}

.footerTopics {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  width: 80%;
}

.footerTopics ul {
  list-style: none;
  font-size: 1.5rem;
}

.footerTopics ul li {
  font-size: 1.4rem;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.footerTopics ul :hover {
  color: #6b6b6b;
}

.footerMoreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footerMoreInfo img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 30px;
}

.footerMoreInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerMoreInfo div img {
  cursor: pointer;
  border: #161616 solid 1px;
  border-radius: 5px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.footerMoreInfo div .gitHubOrTwiter:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

.footerMoreInfo div .changeThemeButtom:hover {
  border: #ccc solid 1px;
  border-radius: 5px;
}

section {
  max-width: 104.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

section .sectionLabelText {
  margin-top: 40px;
  font-weight: 100;
  font-size: 1.2rem;
}

section .sectionLabelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .sectionLabelContainer .sectionLabelLine {
  margin-top: 60px;
  height: 100px;
  width: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#696969));
  background-image: linear-gradient(#000000, #696969);
}

section .sectionLabelContainer .sectionLabelLine.blue {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#019ae9));
  background-image: linear-gradient(#000000, #019ae9);
}

section .sectionLabelContainer .sectionLabelLine.purple {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#ff0080));
  background-image: linear-gradient(#000000, #ff0080);
}

section .sectionLabelContainer .sectionLabelLine.orange {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a8402e), to(#FF4D4D));
  background-image: linear-gradient(#a8402e, #FF4D4D);
  margin-top: 0;
}

@media screen and (max-width: 1064px) {
  section .sectionLabelContainer .sectionLabelLine.orange {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#f97c28));
    background-image: linear-gradient(#000000, #f97c28);
  }
}

section .sectionLabelContainer .sectionLabelNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 0 0 0 3px;
  background: -webkit-gradient(linear, left top, right top, from(#242424), to(#868686));
  background: linear-gradient(90deg, #242424, #868686);
}

section .sectionLabelContainer .sectionLabelNumber.blue {
  background: -webkit-gradient(linear, left top, right top, from(#007CF0), to(#00DFD8));
  background: linear-gradient(90deg, #007CF0, #00DFD8);
}

section .sectionLabelContainer .sectionLabelNumber.purple {
  background: -webkit-gradient(linear, left top, right top, from(#7928ca), to(#ff0080));
  background: linear-gradient(90deg, #7928ca, #ff0080);
}

section .sectionLabelContainer .sectionLabelNumber.orange {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF4D4D), to(#F9CB28));
  background-image: linear-gradient(90deg, #FF4D4D, #F9CB28);
}

section .sectionLabelContainer .sectionLabelTitle {
  margin-top: 35px;
  font-size: 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.09rem;
  font-family: 'Noto Sans', sans-serif;
  text-transform: initial;
  background-image: -webkit-gradient(linear, left top, right top, from(#242424), to(#868686));
  background-image: linear-gradient(90deg, #242424, #868686);
}

section .sectionLabelContainer .sectionLabelTitle.blue {
  background-image: -webkit-gradient(linear, left top, right top, from(#0675dd), to(#26eee7));
  background-image: linear-gradient(90deg, #0675dd, #26eee7);
}

section .sectionLabelContainer .sectionLabelTitle.purple {
  background-image: -webkit-gradient(linear, left top, right top, from(#7928ca), to(#ff0080));
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
}

section .sectionLabelContainer .sectionLabelTitle.orange {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF4D4D), to(#F9CB28));
  background-image: linear-gradient(90deg, #FF4D4D, #F9CB28);
}

section .sectionLabelContainer .sectionLabelBigTitle {
  margin-top: 24px;
  font-size: 5rem;
  text-transform: initial;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -0.04rem;
}

@media screen and (max-width: 640px) {
  section .sectionLabelContainer .sectionLabelBigTitle {
    font-size: 3.6rem;
  }
}

section .sectionDescriptionContainer {
  margin: 80px 28px 40px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .sectionDescriptionContainer p {
  text-align: left;
  line-height: 2.5rem;
  font-size: 1.5rem;
  text-transform: initial;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.11rem;
  color: var(--gray);
  width: 100%;
}

@media screen and (max-width: 1040px) {
  section .sectionDescriptionContainer p {
    max-width: 80vw;
  }
}

@media screen and (max-width: 1040px) {
  section .sectionDescriptionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 60px 5px 60px 5px;
  }
}

section .sectionFeatured {
  margin-bottom: 10px;
  margin-top: 20px;
  gap: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 944px) {
  section .sectionFeatured .sectionDevelopImage {
    height: 78vw;
    max-height: 540px;
  }
}

@media screen and (min-width: 944px) {
  section .sectionFeatured .sectionDevelopImage {
    height: 530px;
    width: 580px;
  }
}

section .sectionFeatured .sectionFeaturedTopicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}

section .sectionFeatured .sectionFeaturedTopicContainer .sectionFeaturedTopic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-transform: initial;
  letter-spacing: .1rem;
  font-family: 'Noto Sans', sans-serif;
}

section .sectionFeatured .sectionFeaturedTopicContainer .sectionFeaturedTopic .sectionFeaturedTopicTitle {
  font-size: 2rem;
  letter-spacing: .1rem;
}

section .sectionFeatured .sectionFeaturedTopicContainer .sectionFeaturedTopic .sectionFeaturedTopicDescription {
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-weight: 100;
}

@media screen and (max-width: 1120px) {
  section .sectionFeatured .sectionFeaturedTopicContainer {
    max-width: 400px;
    text-align: center;
  }
}

@media screen and (min-width: 1120px) {
  section .sectionFeatured .sectionFeaturedTopicContainer {
    text-align: left;
  }
}

@media screen and (max-width: 1120px) {
  section .sectionFeatured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .sectionPreviewIconsToolsContainer {
  margin-top: 38px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .sectionPreviewIconsToolsContainer .sectionPreviewIconsTools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

section .sectionPreviewIconsToolsContainer :hover .sectionPreviewIconsToolsTooltip {
  -webkit-animation: showTooltip 0.5s forwards;
          animation: showTooltip 0.5s forwards;
  visibility: visible;
}

section .sectionPreviewIconsToolsContainer .sectionPreviewIconsToolsTooltip {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(34px);
          transform: translateY(34px);
}

@-webkit-keyframes showTooltip {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showTooltip {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

section .sectionPreviewMoreInfoBigScreen {
  height: 1170px;
  max-width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1064px) {
  section .sectionPreviewMoreInfoBigScreen {
    display: none;
  }
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoPreviewImgContainer {
  width: 479px;
  padding: 0;
  margin: 0;
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoPreviewImgContainer .sectionPreviewMoreInfoPreviewImg {
  margin: 0;
  padding: 0;
  width: 480px;
  margin-bottom: 200px;
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoVerticalLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoVerticalLine .initialLine {
  width: 1px;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#616161));
  background: linear-gradient(#000000, #616161);
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoVerticalLine .line {
  width: 1px;
  height: 423px;
  border: #616161 1px dashed;
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoVerticalLine .endLine {
  width: 2px;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#616161), to(#a8402e));
  background: linear-gradient(#616161, #a8402e);
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoVerticalLine .circle {
  height: 10px;
  width: 10px;
  border: #616161 1px solid;
  border-radius: 50%;
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoTopics {
  margin: 70px 0 300px 0;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: .1rem;
  text-transform: initial;
  text-align: start;
  font-weight: 100;
  letter-spacing: .1rem;
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoTopics h3 {
  font-size: 2rem;
  line-height: 5rem;
}

section .sectionPreviewMoreInfoBigScreen .sectionPreviewMoreInfoTopics p {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

section .sectionPreviewMoreInfoSmallScreen {
  display: none;
  height: 1570px;
}

@media screen and (max-width: 1064px) {
  section .sectionPreviewMoreInfoSmallScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

section .sectionPreviewMoreInfoSmallScreen .sectionPreviewMoreInfoStage {
  width: 400px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

section .sectionPreviewMoreInfoSmallScreen .sectionPreviewMoreInfoStage .sectionPreviewMoreInfoStageVerticalLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .sectionPreviewMoreInfoSmallScreen .sectionPreviewMoreInfoStage .sectionPreviewMoreInfoStageVerticalLine .line {
  width: 1px;
  width: 2px;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#636363));
  background-image: linear-gradient(#000000, #636363);
}

section .sectionPreviewMoreInfoSmallScreen .sectionPreviewMoreInfoStage .sectionPreviewMoreInfoStageVerticalLine .circle {
  height: 11px;
  width: 11px;
  border: #636363 2px solid;
  border-radius: 50%;
}

section .sectionPreviewMoreInfoSmallScreen .sectionPreviewMoreInfoStage .sectionPreviewMoreInfoTopics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-transform: initial;
  font-weight: 100;
  letter-spacing: .1rem;
  line-height: 24px;
  font-family: 'Noto Sans', sans-serif;
}

section .sectionPreviewMoreInfoSmallScreen .sectionPreviewMoreInfoStage .sectionPreviewMoreInfoTopics .sectionPreviewMoreInfoTopicsTitle {
  font-size: 2.2rem;
  letter-spacing: .1rem;
}

section .sectionPreviewMoreInfoSmallScreen .sectionPreviewMoreInfoStage .sectionPreviewMoreInfoTopics .sectionPreviewMoreInfoTopicsDescription {
  font-size: 1.2rem;
  font-weight: 100;
}

section .sectionPreviewMoreInfoSmallScreen .sectionPreviewMoreInfoStage .sectionPreviewMoreInfoPreviewStageImg {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

section .globeStatistics .globe {
  height: 40vw;
  max-height: 388px;
  max-width: 961px;
}

section .globeStatistics .statisticsContainer {
  margin-bottom: 30px;
  width: 98.8vw;
  height: 110px;
  border-top: solid 2px #4b4b4b;
  border-bottom: solid 2px #4b4b4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .globeStatistics .statisticsContainer .statistics {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .globeStatistics .statisticsContainer .statistics p {
  padding: 0 20px;
  font-size: 5rem;
  font-weight: 500;
}

section .globeStatistics .statisticsContainer .statistics span {
  font-size: 1.4rem;
  font-weight: 100;
}

section .globeStatistics .statisticsContainer .statistics .divisorLine {
  height: 80px;
  width: 2px;
  background-color: rgba(128, 128, 128, 0.212);
}

@media screen and (max-width: 760px) {
  section .globeStatistics .statisticsContainer {
    height: 500px;
    border-top: solid 1px #4b4b4b;
    border-bottom: solid 1px #4b4b4b;
  }
  section .globeStatistics .statisticsContainer .statistics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  section .globeStatistics .statisticsContainer .statistics p {
    padding: 0;
    width: 100%;
  }
  section .globeStatistics .statisticsContainer .divisorLine {
    display: none;
  }
}

section .beginYourJorneyContainer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  font-weight: 100;
}

@media screen and (max-width: 1050px) {
  section .beginYourJorneyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .beginYourJorneyContainer .beginYourJorneyChoice {
  height: 540px;
  width: 490px;
  margin: 20px 0px;
  padding: 51px 29px 41px 29px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  text-transform: initial;
  letter-spacing: 0.1rem;
  border: 1px #313131 solid;
  border-radius: 8px;
}

section .beginYourJorneyContainer .beginYourJorneyChoice h3 {
  font-weight: 100;
}

section .beginYourJorneyContainer .beginYourJorneyChoice .choseImport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80%;
  padding: 0px 40px;
  text-align: center;
  font-size: 1.3rem;
  border: 1px #303030 solid;
  border-radius: 8px;
  background-color: #0c0c0c;
}

section .beginYourJorneyContainer .beginYourJorneyChoice .choseImport .importChoices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  gap: 12px;
}

section .beginYourJorneyContainer .beginYourJorneyChoice .choseImport .importChoices img {
  height: 40px;
  width: 318px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

section .beginYourJorneyContainer .beginYourJorneyChoice .choseImport .importChoices :hover {
  cursor: pointer;
}

section .beginYourJorneyContainer .beginYourJorneyChoice span {
  font-size: 1.3rem;
}

section .beginYourJorneyContainer .beginYourJorneyChoice span:hover {
  cursor: pointer;
}

section .beginYourJorneyContainer .beginYourJorneyChoice .choseTemplates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .beginYourJorneyContainer .beginYourJorneyChoice .choseTemplates .template {
  border: 1px #666666 solid;
  border-radius: 5px;
  margin: 6px;
  padding: 1px;
}

section .beginYourJorneyContainer .beginYourJorneyChoice .choseTemplates .template:hover {
  visibility: visible;
  -webkit-filter: brightness(0.7) contrast(1.2);
          filter: brightness(0.7) contrast(1.2);
  cursor: pointer;
  border: 1px white solid;
}

section .beginYourJorneyContainer .beginYourJorneyChoice .choseTemplates .template:hover #templateHover {
  opacity: 1;
}

section .beginYourJorneyContainer .beginYourJorneyChoice .choseTemplates #templateHover {
  opacity: 0;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

section .beginYourJorneyContainer .beginYourJorneyChoice:nth-child(2) {
  background-color: #0c0c0c;
}

section .beginYourJorneyContainer .beginYourJorneyChoice:nth-child(2) span:hover:last-child {
  text-decoration: underline;
}

::-moz-selection {
  background-color: #68e6ca;
  color: black;
}

::selection {
  background-color: #68e6ca;
  color: black;
}

.companiesReliability {
  margin-top: 50px;
  margin-bottom: 100px;
  overflow: hidden;
}

.companiesReliability .companiesReliabilityTrusted {
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 100;
  font-size: 1.2rem;
}
/*# sourceMappingURL=styles.css.map */